[build]
  command = "npm run build"
  publish = "dist/ng-zenbazzar/browser"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/ssr"
  status = 200
  force = false
