<mat-sidenav-container class="h-screen">
  <!-- sidebar -->
  <mat-sidenav
    class="!w-auto h-screen fixed lg:w-64 !rounded-none"
    #sidenav
    mode="over"
    [opened]="isOpen"
  >
    <div class="p-6">
      <h2 class="text-lg text-gray-900">Category</h2>
      <mat-nav-list>
        @for (cat of categories(); track cat) {
        <mat-list-item
          [activated]="store.category() === (cat === 'all' ? '' : cat)"
          class="my-2"
          (click)="selectCategory(cat)"
        >
          <span matListItemTitle>{{ cat | titlecase }}</span>
        </mat-list-item>
        }
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav
    class="!w-auto h-screen fixed lg:w-64 !rounded-none"
    #sidenavseller
    mode="over"
    [opened]="isOpenS"
  >
    <div class="p-6">
      <h2 class="text-lg text-gray-900">sellers</h2>
      <mat-nav-list>
        @for (seller of vendors(); track seller) {
        <mat-list-item
          [activated]="store.vendor() === (seller === 'all' ? '' : seller)"
          class="my-2"
          (click)="selectVendor(seller)"
        >
          <span matListItemTitle>{{ seller | titlecase }}</span>
        </mat-list-item>
        }
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="bg-grey-600 p-4 h-full w-full hide-scrollbar">
    <div class="flex flex-col">
      <!-- button to open category options -->
      <div class="flex items-center justify-start overflow-x-scroll overflow-y-hidden hide-scrollbar mb-1">
        <button
          matButton="filled"
          class="!bg-orange-50 !border !px-14 lg:!px-6 !size-9 lg:!size-10 !border-orange-100 !text-gray-900 flex items-center justify-center mr-2 lg:hidden"
          (click)="toggleSidenav()"
        >
          <mat-icon>{{ sidenav.opened ? 'close' : 'category' }}</mat-icon>
          Category
        </button>
        <button
          matButton="filled"
          class="!bg-orange-50 !border !px-12 lg:!px-6 !size-9 lg:!size-10 !border-orange-100 !text-gray-900 flex items-center justify-center mr-2 lg:hidden"
          (click)="toggleSidenavseller()"
        >
          <mat-icon>{{ sidenavseller.opened ? 'close' : 'seller' }}</mat-icon>
          Sellers
        </button>

        <button
          matButton="filled"
          class="!bg-orange-50 !border !px-12 lg:!px-6 !size-9 lg:!size-10 !border-orange-100 !text-gray-900 flex items-center justify-center mr-2 lg:hidden"
          (click)="clearFilter()"
        >
          <mat-icon class="" >close</mat-icon>
          Clear 
        </button>
      
      </div>

      <!-- category name  -->
      <h1 class="mb-1 lg:mb-2 text-gray-600 mt-1">
        {{ store.category() | titlecase }} {{ store.vendor() | titlecase }}
      </h1>
    </div>
    <!-- mat-sidenav-content ke andar, top pe add karo -->

    <!-- count of products -->
    <h1 class="text-base mb-4 text-gray-600">
      {{ store.filteredProducts().length }} Products Found
    </h1>

    <!-- product display grid -->
    <div class="responsive-grid hide-scrollbar">
      @for (product of store.filteredProducts(); track product.id) {
      <app-product [product]="product">
        <app-toggle-wishlist-button
          [product]="product"
          [style.view-transition-name]="'wishlist-button-' + product.id"
          class="!absolute z-10 top-3 right-10 !w-4 !px-0"
        />
      </app-product>

      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="bg-grey-600 p-6 h-full"></div>
